:root {
    --primaryColour: #5190f7;
    --backgroundColour: #f2f2f2;
}

* {
    font-family: "Century Gothic", "URW Gothic L", "Apple Gothic", "Muli", sans-serif;
}

html, body {
    margin-top: 10vh;
    text-align: center;
    background-color: var(--backgroundColour);
}

a {
    color: var(--primaryColour);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.profilePicture {
    width: 20vw;
}